.slick-slide {
  width: 15em !important;
  height: 20em !important;
  margin-left: 1.9em !important;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.slick-track:first-child {
  margin-left: 2em !important;
}
